<!-- Do we actually need this?  Seems like duplicating code. -->
<script id='layout' type='text/x-handlebars-template'>
  <div class='navigation'>
  <ul>
    <li><a href='#' class='index'>All Links</a></li>
    <li><a href='#' class='create'>Shorten</a></li>
  </ul>
  </div>
  <div id='container'></div>
</script>


<script id='login' type='text/x-handlebars-template'>
  <h2>Login</h2>
  <form action="/login" method="post">
      <div>
        <label for="username">Username:</label>
        <input id="username" type="text" name="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password">
      </div>
      <div>
        <input type="submit" value="Login">
      </div>
  </form>
  <p>
    <a href="/signup">Create an Account &rarr;</a>
  <p>
</script>


<!-- Do we actually need this?  Seems like duplicating code. -->
<script>
  $(function(){
    new Shortly();
  });

  window.Templates = {};
  $('[type="text/x-handlebars-template"]').each(function(index, div){
    Templates[div.id] = Handlebars.compile(div.innerHTML);
  });
</script>

<script src='/client/app.js'></script>
<!-- <script src='/client/link.js'></script>
<script src='/client/links.js'></script>
<script src='/client/linkView.js'></script>
<script src='/client/linksView.js'></script>
<script src='/client/createLinkView.js'></script> -->
<script src='/client/router.js'></script>
<script src='/client/loginView.js'></script>
